
/*----------------------------------------------*/
/*	Main App
/*----------------------------------------------*/
.App {
    background-color: #e8f4ea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana;
}

.App-header {
    background-color: #207567;
    color: #DFEAE2;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    position: sticky;
    top: 0;
    font-size: 2.2vmin;
}

.header-button {
    padding-left: 1vh;
    padding-right: 1vh;
}

.Section-Header {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.Section-Header-Alignment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Section-Title-Line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VerticalLine {
    border-left: 3px black solid;
    width: 3px;
    padding-right: 10px;
}

/*----------------------------------------------*/
/*	Intro Section
/*----------------------------------------------*/

.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 5vh;
    text-align: center;
}

/*----------------------------------------------*/
/*	About Section
/*----------------------------------------------*/

.About {
    background-color: #FEFBEA;
    padding: 10vh;
    font-size: 25px;
}

.About-Left {
    width: 58%;
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
}

.About-content {
    display: flex;
    flex-flow: row wrap;
}

.About-item {
    margin: 1vw;
}

.About-PFP {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: 5px;
    border-color: #207567;
}

.Interests-Button {
    background-color: #207567;
    background-image: linear-gradient(#207067, #207567);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.DLLogo {
    height: 64px;
    width: 64px;
    background: url("../public/DownloadIcon.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.LILogo {
    height: 64px;
    width: 64px;
    background: url("../public/LinkedInLogo.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.GHLogo {
    height: 64px;
    width: 64px;
    background: url("../public/GitHubLogo.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.fadeOutInterests {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.15s 0.15s, height 0.15s 0.15s, opacity 0.15s;
}

.fadeInInterests {
    opacity: 1;
    width: 32vw;
    animation: fadeInRight;
    animation-duration: 1s;
}

.fadeIn {
    animation: fadeInRight;
    animation-duration: 2s;
}

.HorizontalLine {
    border-top: 3px black solid;
    width: 40vw;
}

.SectionNameLine {
    border-top: 3px black solid;
    height: 0px;
    width: 10vw;
}

/*----------------------------------------------*/
/*	Resume Section
/*----------------------------------------------*/

.Resume {
    display: flex;
    flex-direction: column;
}

.Resume-container {
    font-size: 17px;
    padding-top: 10vh;
}

.Resume-section {
    padding-left: 15vh;
    padding-right: 25vh;
}

.ExpContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

.DescContainer {
    padding-left: 5%;
}

.ExpTitle {
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 24px;
    margin: 2px;
}

.ExpCompany {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 2px;
}

.ExpItem {
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: bold;
    margin: 2px;
}

.SchoolDesc {
    display: flex;
    flex-direction: row;
}

.CompanyIcon {
    border-radius: 10%;
    width: 10%;
    height: 10%;
}

/*----------------------------------------------*/
/*	Portfolio Section
/*----------------------------------------------*/

.Portfolio {
    padding: 10vh;
}

.Portfolio-Content {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.ProjectContainer {
    padding: 1%;
}

.ProjectBackground {
    box-shadow: rgba(0, 0, 0, 0.12) 0 5px 5px;
    background-color: white;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 25vw;
    height: 30vh;
    min-width: 400px;
    min-height: 400px;
}

.ProjectImg {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: 60%;
}

.ProjectDescription {
    padding-left: 2%;
    padding-right: 2%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.ProjectHeader {
    padding-left: 5%;
    padding-right: 5%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

/*----------------------------------------------*/
/*	Testimonials Section
/*----------------------------------------------*/

.Testimonials {
    padding: 20vh;
    font-size: 25px;
    background-color: #FEFBEA;
}

/*----------------------------------------------*/
/*	Skill Section
/*----------------------------------------------*/

.Skills {
    display: flex;
    flex-direction: column;
    background-color: #FEFBEA;
}

.Skill-bars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bars {
    width: 70%;
}

    .bars ul {
        list-style: none;
    }

.skill-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.skill-title {
    font-size: 20px;
    padding-bottom: 1%;
}

.bar-container {
    display: flex;
    flex-direction: row;
    height: 42px;
}

/*----------------------------------------------*/
/*	Footer Section
/*----------------------------------------------*/

.Footer {
    display: flex;
    justify-content: space-between;
    background-color: #207567;
    color: #DFEAE2;
    position: relative;
    font-size: 20px;
}

.Footer-cols {
    display: flex;
    justify-content: space-around;
}

.Contact-Footnote {
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
}

.Copyright {
    padding: 1vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

