/* Main App */
.App {
    background-color: #B4D6C1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App-header {
    background-color: #207567;
    color: #DFEAE2;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    position: sticky;
    top: 0;
}

.header-button {
    padding-left: 1vh;
    padding-right: 1vh;
}

/* Intro Section */
.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 5vh;
    text-align: center;
}

/* About Section */
.PFP {
    height: 500px;
    width: 500px;
}

.DLLogo {
    height: 64px;
    width: 64px;
    background: url("../public/DownloadIcon.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
}

.LILogo {
    height: 64px;
    width: 64px;
    background: url("../public/LinkedInLogo.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
}
.GHLogo {
    height: 64px;
    width: 64px;
    background: url("../public/GitHubLogo.png") no-repeat scroll 0 0 transparent;
    margin: 5px;
    border: none;
}

.About {
    background-color: #FEFBEA;
    padding: 3vh;
}

.About-content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.About-item {
    margin: 25px;
}

.About-PFP {
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    border-style: solid;
    border-width: 5px;
    border-color: #207567;
}

.fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.15s 0.15s, height 0.15s 0.15s, opacity 0.15s;
}

.fadeIn {
    opacity: 1;
    width: 50vh;
    transition: width 0.15s, height 0.15s, opacity 0.15s 0.15s;
}

/* Resume Section */

.Resume {
    display: flex;
    flex-direction: row;
}

.Resume-section {
    padding: 5vh;
}

.JobDesc {

}

.SchoolDesc {
    display: flex;
    flex-direction: row;
}

/* Footer Section */

.Footer {
    display: flex;
    justify-content: space-between;
    background-color: #207567;
    color: #DFEAE2;
    position: relative;
}

.Footer-cols {
    display: flex;
    justify-content: space-around;
}

.Contact-Footnote {
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
}

.Copyright {
    padding: 1vh;
    position: absolute;
    bottom: 0;
    right: 0;
}